*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif, poppins;
}

.Overbtn{
  z-index: 2;
  left: 50%;
  bottom: -10%;
  transform: translate(-50%, 50%);
  transition: all .5s ease-out;
}
.imgCOn:hover .Overbtn{
  bottom: 10%;
}
.card-image{
  transform: scale(1);
  transition: all .5s ease-out;
}
.imgCOn:hover .card-image{
  transform: scale(1.1);
}
/* Header slider css......................... */

.Nav-ConLogo h3{
  font-size: 25px;
  padding: 0px 25px;
}
.Nav-Conlist ul{
  display: flex;
  justify-content: space-around;
}
.Nav-Conlist ul li {
  list-style: none;
  padding: 10px;
}
.Nav-icon{
  font-size: 25px;
  padding: 7px 10px;
}
.Hover:hover{
  color: #8800cc;
}
/* slider.......... */
.slider{
  position: relative;
}
.slider .Sbtn1{
  position: absolute;
  font-size: 60px;
  font-weight: 100;
  color: #b3b3b342;
  right: 0;
  top: 50%;
}
.slider .Sbtn2{
  position: absolute;
  font-size: 60px;
  font-weight: 100;
  color: #b3b3b342;
  left: 0;
  top: 50%;
}
.slider .Simg{
  object-fit: cover;
  object-position: 0% 50%;
}
.hero-Sec{
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
}
.sec1catCon{
  position: relative;
  margin: 2rem;
}
.sec1 .catSopt{
  position: absolute;
  left: 0%;
  bottom: -10%;
  transform: scale(0);
  transition: transform .5s ease .3s, bottom .3s ;
}
.sec1 .Mcat:hover .catSopt, .Wcat:hover .catSopt{
  transform: scale(1);
  bottom: 2%;
}
.sec1 .catSopt::after{
  content: '';
  background-color: #d580ff;
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: -10%;
  left: 0%;
  transform: scale(0);
  transition: all 1s ease .5s;
}
.sec1 .Mcat:hover .catSopt::after, .Wcat:hover .catSopt::after{
  transform: scale(1);
}
#quickCon{
  display: none;
}

.quickCon{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#overlay{
  display: none;
}